[submodule "notebook"]
	path = notebook
	url = https://github.com/nwhitehead/notebook
[submodule "pyinstaller"]
	path = pyinstaller
	url = https://github.com/nwhitehead/pyinstaller.git
[submodule "path.py"]
	path = path.py
	url = https://github.com/nwhitehead/path.py.git
