[submodule "notebook"]
	path = notebook
	url = https://github.com/nwhitehead/notebook
[submodule "pyinstaller"]
	path = pyinstaller
	url = https://github.com/nwhitehead/pyinstaller.git
[submodule "Phoenix"]
	path = Phoenix
	url = https://github.com/wxWidgets/Phoenix.git
