/* Make Markdown editing visible */
.cm-s-default pre { color: #ff0; }
.cm-s-default span.cm-header {color: #88f;}
.cm-s-default span.cm-quote {color: #090;}
.cm-s-default span.cm-keyword {color: #708;}
.cm-s-default span.cm-atom {color: #219;}
.cm-s-default span.cm-number {color: #164;}
.cm-s-default span.cm-def {color: #00f;}
.cm-s-default span.cm-variable-2 {color: #05a;}
.cm-s-default span.cm-variable-3 {color: #085;}
.cm-s-default span.cm-comment {color: #a50;}
.cm-s-default span.cm-string {color: #a11;}
.cm-s-default span.cm-string-2 {color: #f50;}
.cm-s-default span.cm-meta {color: #555;}
.cm-s-default span.cm-qualifier {color: #555;}
.cm-s-default span.cm-builtin {color: #30a;}
.cm-s-default span.cm-bracket {color: #997;}
.cm-s-default span.cm-tag {color: #170;}
.cm-s-default span.cm-attribute {color: #88f;}
.cm-s-default span.cm-hr {color: #999;}
.cm-s-default span.cm-link {color: #cc8;}
.cm-s-default .cm-error {color: #f00;}
.cm-s-default .CodeMirror-cursor { border-left-color: #fff !important; }
