
/*******************
FONTS
********************/

@font-face {
    font-family: 'myslab';
    src: url('fonts/bitter-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myslab';
    src: url('fonts/bitter-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'myslab';
    src: url('fonts/bitter-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'myslab';
    src: url('fonts/bitter-bolditalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'mymono';
    src: url('fonts/ptm55ft-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*******************
CSS
********************/

/* Use font */
body {
/* font-family: 'myslab'; */
/*    font-family: 'Roboto';*/
    font-family: Helvetica;
}

/*
body code, kbd, pre, samp {
    font-family: monospace;
    font-size: 14px;
    line-height: 1.214em;
}
*/

/* Turn off web menubar and header */
div#menubar-container, div#header-container {
    display: none !important;
}

/* BEGIN BLOCK */
/* Direct embedding vs. indirect */
div#notebook-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

div#notebook {
    padding: 0;
}
/* END BLOCK */

div.end_space {
    display: none !important;
}

/* Space between input/output (not sure I want or not) */
/*
div.input {
    margin-bottom: 5px;
}
*/

div.input_area {
    margin-left: 5px;
    border-radius: 3px;
}

/* Set background to cream */
div#notebook-container {
    background: transparent;
}

div#notebook {
    background: url('images/cream-dust.png');
}

/* input/output prompt is stone color */
div.input_prompt {
    color: #5D523C;
    background: url('images/blue-mocha-grunge-reversed.jpg');
    border-radius: 3px;
}
div.output_prompt {
    border-radius: 3px;
    color: #A59573;
}

/* Break up long words if we need to */
div.rendered_html p {
    word-wrap: break-word;
}

/* Original bg color #eee, then made more brown with #e0dad0
   then lightened one step to #ebe7e0, then another to #f5f3ef
Darkened 3 steps: D7CFC1 CDC3B1 B9AC92 A59573 7C6E50 5D523C
*/
/* Change codemirror bg */
div.input_area {
    background-color: #faf9f7;
}

/* Backticks in markdown and actual code get more distinct bg */
div.rendered_html code {
    background-color: #ebe7e0;
    padding: 0.3em;
    border-radius: 3px;
}

/* Allow code blocks */
div.rendered_html pre code {
    background-color: #f5f3ef;
    display: block;
}

/* Turn off paragraph thingies */
div.rendered_html a.anchor-link {
    visibility: hidden;
}

/* CodeMirror neat theme */
.cm-s-ipython span.cm-comment { color: #a86; font-style: italic; }
.cm-s-ipython span.cm-keyword { line-height: 1em; font-weight: bold; color: blue; }
.cm-s-ipython span.cm-string { color: #a22; }
.cm-s-ipython span.cm-builtin { line-height: 1em; font-weight: bold; color: #077; }
.cm-s-ipython span.cm-special { line-height: 1em; font-weight: bold; color: #0aa; }
.cm-s-ipython span.cm-variable { color: black; }
.cm-s-ipython span.cm-number { color: #3a3; }
.cm-s-ipython span.cm-atom { color: #3a3; }
.cm-s-ipython span.cm-meta {color: #555;}
.cm-s-ipython span.cm-link { color: #3a3; }

/* Pick nice outline color for cell selection */
div.cell.selected {
    border-color: #A59573;
}

/* Make the cell pop with a shadow when editing */
.edit_mode div.cell.selected {
    border-color: #A59573;
    box-shadow: 3px 3px 20px 0px rgba(0,0,0,0.35);
}

/* Nicer collapsed button colors */
div.btn.btn-default.output_collapsed {
    background-color: #3498db;
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    border-radius: 28px;
    color: #ffffff;
    padding: 7px 20px 7px 20px;
    margin-top: 6px;
}
div.btn.btn-default.output_collapsed:hover {
    background: #3cb0fd;
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}
