/* Keyboard shortcut */
div.rendered_html kbd {
    color: #000;
    background-color: #f4f4f4;
    border: 1px solid #aaa;
    border-radius: 3px;
    box-shadow: 0.1em 0.2em 0.3em #ddd;
    padding: 0.2em 0.4em;
}
div.rendered_html span.symbol {
    font-size: 1.4em;
    vertical-align: middle;
}
