div.rendered_html h1 {
    font-size: 48px;
    font-weight: normal;
    border-bottom: solid 1px #eeeeee;
}
div.rendered_html h2 {
    font-weight: normal;
    font-size: 32px;
}
div.rendered_html code {
    /* backticks */
    color: #b32146;
    background-color: #f9f2f4;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    border-radius: 3px;
}
div.rendered_html pre {
    /* Code blocks */
    background: transparent;
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
}
div.rendered_html pre code {
    /* code blocks */
    color: #333333;
    background-color: #dcecf5;
    display: block;
}
