/* BEGIN BLOCK */
/* Direct embedding vs. indirect */
div#notebook-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

div#notebook {
    padding: 0;
}
/* END BLOCK */

div.end_space {
    display: none !important;
}

@media print {
    div.input, pre {
        page-break-inside: avoid;
    }
}

div.input_area {
    margin-left: 5px;
    border-radius: 3px;
}

div#notebook-container {
    background: transparent;
}

div#notebook {
    background: #000000;
    font-size: 16px;
}

div.input_prompt {
    color: #a0b4c0;
}
div.output_prompt {
    border-radius: 3px;
    color: #a0b4c0;
}

div.rendered_html {
    color: #eeeeee;
}

div.rendered_html p {
    word-wrap: break-word;
}

/* Keyboard shortcut */
div.rendered_html kbd {
    color: #000;
    background-color: #f4f4f4;
    border: 1px solid #aaa;
    border-radius: 3px;
    box-shadow: 0.1em 0.2em 0.3em #ddd;
    padding: 0.2em 0.4em;
}
div.rendered_html span.symbol {
    font-size: 1.4em;
    vertical-align: middle;
}

/* Change codemirror bg */
div.input_area {
    background-color: #222;
    border: none;
}

div.output_area {
    color: #ff8;
}
div.output_area pre {
    color: #ff8;
}

div.rendered_html h1 {
    font-size: 48px;
    font-weight: normal;
    border-bottom: solid 1px #eeeeee;
}

div.rendered_html h2 {
    font-weight: normal;
    font-size: 32px;
}

/* Backticks in markdown and actual code get more distinct bg */
div.rendered_html code {
    color: #eee;
    background-color: #468321;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    border-radius: 3px;
}

/* Allow code blocks */
div.rendered_html pre {
    background: transparent;
    border-radius: 0;
}

div.rendered_html pre code {
    color: #ddd;
    background-color: #333;
    display: block;
    border-radius: 3px;
}

/* Turn off paragraph thingies */
div.rendered_html a.anchor-link {
    visibility: hidden;
}

/* CodeMirror ambiance theme */

.cm-s-ipython span.cm-header {color: blue;}
.cm-s-ipython span.cm-quote { color: #24C2C7; }
.cm-s-ipython span.cm-keyword { color: #cda869; }
.cm-s-ipython span.cm-atom { color: #CF7EA9; }
.cm-s-ipython span.cm-number { color: #78CF8A; }
.cm-s-ipython span.cm-def { color: #aac6e3; }
.cm-s-ipython span.cm-variable { color: #ffb795; }
.cm-s-ipython span.cm-variable-2 { color: #eed1b3; }
.cm-s-ipython span.cm-variable-3 { color: #faded3; }
.cm-s-ipython span.cm-property { color: #eed1b3; }
.cm-s-ipython span.cm-operator {color: #fa8d6a;}
.cm-s-ipython span.cm-comment { color: #555; font-style:italic; }
.cm-s-ipython span.cm-string { color: #8f9d6a; }
.cm-s-ipython span.cm-string-2 { color: #9d937c; }
.cm-s-ipython span.cm-meta { color: #D2A8A1; }
.cm-s-ipython span.cm-qualifier { color: yellow; }
.cm-s-ipython span.cm-builtin { color: #9999cc; }
.cm-s-ipython span.cm-bracket { color: #24C2C7; }
.cm-s-ipython span.cm-tag { color: #fee4ff }
.cm-s-ipython span.cm-attribute {  color: #9B859D; }
.cm-s-ipython span.cm-hr { color: pink; }
.cm-s-ipython span.cm-link { color: #F4C20B; }
.cm-s-ipython span.cm-special { color: #FF9D00; }
.cm-s-ipython span.cm-error { color: #AF2018; }

div.CodeMirror.cm-s-ipython span.CodeMirror-matchingbracket { color: #ff0; }
div.CodeMirror.cm-s-ipython p { color: #f22; }
div.CodeMirror.cm-s-ipython { color: #E6E1DC; }
div.CodeMirror.cm-s-default { color: #e6e1dc; } 

.cm-s-ipython .CodeMirror-cursor { border-left-color: #fdf6e3 !important; }

/* Make Markdown editing visible */
.cm-s-default span.cm-header {color: #88f;}
.cm-s-default span.cm-quote {color: #090;}
.cm-s-default span.cm-keyword {color: #708;}
.cm-s-default span.cm-atom {color: #219;}
.cm-s-default span.cm-number {color: #164;}
.cm-s-default span.cm-def {color: #00f;}
.cm-s-default span.cm-variable-2 {color: #05a;}
.cm-s-default span.cm-variable-3 {color: #085;}
.cm-s-default span.cm-comment {color: #a50;}
.cm-s-default span.cm-string {color: #a11;}
.cm-s-default span.cm-string-2 {color: #f50;}
.cm-s-default span.cm-meta {color: #555;}
.cm-s-default span.cm-qualifier {color: #555;}
.cm-s-default span.cm-builtin {color: #30a;}
.cm-s-default span.cm-bracket {color: #997;}
.cm-s-default span.cm-tag {color: #170;}
.cm-s-default span.cm-attribute {color: #88f;}
.cm-s-default span.cm-hr {color: #999;}
.cm-s-default span.cm-link {color: #cc8;}
.cm-s-default .cm-error {color: #f00;}

.cm-s-default .CodeMirror-cursor { border-left-color: #fdf6e3 !important; }

/* Pick nice outline color for cell selection */
@media screen  {
    div.cell.selected {
        border-color: #A59573;
    }
}

/* Make the cell pop with a shadow when editing */
.edit_mode div.cell.selected {
    border-color: #A59573;
    box-shadow: 0px 0px 12px 0px #fff;
}

/* Nicer collapsed button colors */
div.btn.btn-default.output_collapsed {
    background-color: #3498db;
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    border-radius: 28px;
    color: #ffffff;
    padding: 7px 20px 7px 20px;
    margin-top: 6px;
}
div.btn.btn-default.output_collapsed:hover {
    background: #3cb0fd;
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}

div.output div.output_stderr {
    margin-left: 5px;
    background-color: #300;
}

div.cell.read-only div.input_area {
    background-image: url('images/stripe.png');
    background-repeat: repeat-y;
    background-position: right;
    border-radius: 0;
    border: 0;
}

/* Make ansi colors more visible on gray background in output */
div.output span.ansiblack { color: #000; }
div.output span.ansired { color: #a00; }
div.output span.ansigreen { color: #555; }
div.output span.ansiyellow { color: #ff5; }
div.output span.ansiblue { color: #00a; }
div.output span.ansimagenta { color: #f5f; }
div.output span.ansicyan { color: #5ff; }
div.output span.ansigray { color: #aaa; }
div.output span.ansiwhite { color: #fff; }

div.cell.read-only.selected {
    border: 1px solid #444;
    border-radius: 3px;
}
