/* BEGIN BLOCK */
/* Direct embedding vs. indirect */
div#notebook-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

div#notebook {
    padding: 0;
}
/* END BLOCK */

div.end_space {
    display: none !important;
}

@media print {
    div.input, pre {
        page-break-inside: avoid;
    }
}

div.input_area {
    margin-left: 5px;
    border-radius: 3px;
}

div#notebook-container {
    background-color: transparent;
}

div#notebook {
    background-color: #0000a8;
    background-image: url('images/borlandia-tile.png');
    font-size: 16px;
}

div.cell {
    background-color: #a8a8a8;
    border: 4px double #a8a8a8;
    border-radius: 0;
    border-spacing: 5px;
    margin-bottom: 10px;
}

div.input_prompt {
    color: #fff;
}
div.output_prompt {
    border-radius: 0;
    color: #ff0;
}

div.rendered_html {
    color: #000;
}

/* Break up long words if we need to */
div.rendered_html p {
    word-wrap: break-word;
}

/* Keyboard shortcut */
div.rendered_html kbd {
    color: #000;
    background-color: #f4f4f4;
    border: 1px solid #aaa;
    border-radius: 3px;
    box-shadow: 0.1em 0.2em 0.3em #ddd;
    padding: 0.2em 0.4em;
}
div.rendered_html span.symbol {
    font-size: 1.4em;
    vertical-align: middle;
}

div.input_area {
    color: #fff;
    background-color: #0000a8;
    border-radius: 0;
    border: 4px double #fff;
}

div.rendered_html h1 {
    font-size: 48px;
    font-weight: bold;
    border-bottom: dotted 1px #888;
}

div.rendered_html h2 {
    font-weight: bold;
    font-size: 32px;
}

/* Backticks in markdown and actual code get more distinct bg */
div.rendered_html code {
    color: #ffff00;
    background-color: #a8a8a8;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    border-radius: 0;
    font-weight: bold;
}

/* Allow code blocks */
div.rendered_html pre {
    background-color: #888;
    margin: 1em 0;
    border-radius: 0;
    padding: 3px;
}
div.rendered_html pre code {
    color: #000;
    background-color: #888;
    margin-left: 0;
    display: block;
    border-radius: 0;
    border: 1px solid #000;
    padding: 10px;
}

/* Turn off paragraph thingies */
div.rendered_html a.anchor-link {
    visibility: hidden;
}

/* CodeMirror theme */
.cm-s-ipython span { color: #fff; font-weight: bold; }
.cm-s-ipython span.cm-comment { color: #a8a8a8; font-style: italic; font-weight: normal; }
.cm-s-ipython span.cm-keyword { line-height: 1em; font-weight: bold; color: #ff0; }
.cm-s-ipython span.cm-string { color: #00ffff; font-weight: bold; }
.cm-s-ipython span.cm-builtin { line-height: 1em; font-weight: bold; color: #fff; }
.cm-s-ipython span.cm-special { line-height: 1em; font-weight: bold; color: #fff; }
.cm-s-ipython span.cm-def { color: #ff0; font-weight: bold; }
.cm-s-ipython span.cm-variable { color: #fff; }
.cm-s-ipython span.cm-variable-2 { color: #a800a8; }
.cm-s-ipython span.cm-number { color: #00a800; }
.cm-s-ipython span.cm-operator { color: #f0f; }
.cm-s-ipython span.cm-atom { color: #fff; }
.cm-s-ipython span.cm-meta {color: #555;}
.cm-s-ipython span.cm-link { color: #3a3; }

.cm-s-ipython div.CodeMirror-cursor { border-left-color: #fff !important; }

div.output span.ansiyellow {
    color: #ff0;
    font-weight: bold;
}
div.output span.ansicyan {
    color: #0080ff;
    font-weight: bold;
}

/* Pick nice outline color for cell selection */
@media screen  {
    div.cell.selected {
        border: 4px double #000;
    }
}

/* Make the cell pop when editing */
.edit_mode div.cell.selected {
    border-color: #fff;
}

/* Nicer collapsed button colors */
div.btn.btn-default.output_collapsed {
    background-color: #3498db;
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    border-radius: 28px;
    color: #ffffff;
    padding: 7px 20px 7px 20px;
    margin-top: 6px;
}
div.btn.btn-default.output_collapsed:hover {
    background: #3cb0fd;
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}
