@import url("embedding.css");
@import url("buttons.css");
@import url("fonts.css");
@import url("print.css");
@import url("ansi.css");
@import url("readonly.css");
@import url("cm-light.css");
@import url("kbd.css");
@import url("rendered.css");

div#notebook {
    background: #ffffff;
}

div.input_prompt { color: #4f9fcf; }
div.input_area { background-color: #edf5fa; }

div.output_prompt { color: #a0b4c0; }
div.output div.output_stderr { background-color: #fef; }

div.rendered_html { color: #222222; }
div.rendered_html h1 {
    font-family: "RobotoSlab";
}
div.rendered_html h2 {
    font-family: "RobotoSlab";
}

div.cell.selected { border-color: #A59573; }
.edit_mode div.cell.selected {
    border-color: #A59573;
    box-shadow: 3px 3px 20px 0px rgba(0,0,0,0.35);
}

div.output span.ansiyellow { color: #880; }
div.output span.ansicyan { color: #0aa; }
div.output span.ansigray { color: #555; }
