@import url("embedding.css");
@import url("buttons.css");
@import url("fonts.css");
@import url("print.css");
@import url("ansi.css");
@import url("readonly.css");
@import url("cm-dark.css");
@import url("cm-dark-text.css");
@import url("kbd.css");
@import url("rendered.css");

div#notebook { background: #000;
}

div.input_prompt { color: #a0b4c0; }
div.input_area {
    background-color: #222;
    border: none;
}

div.output_prompt { color: #a0b4c0; }
div.output_area { color: #ff8; }
div.output_area pre { color: #ff8; }
div.output div.output_stderr { background-color: #300; }

div.rendered_html { color: #eee; }
div.rendered_html code { color: #eee; background-color: #468321; }
div.rendered_html pre code { color: #ddd; background-color: #333; }

div.cell.selected { border-color: #A59573; }
.edit_mode div.cell.selected {
    border-color: #A59573;
    box-shadow: 0px 0px 12px 0px #fff;
}

div.output span.ansigray { color: #ccc; }
